[core]
    #editor = vim
[alias]
    st = status
    cm = commit
    cmm = commit -m
    cma = commit --amend
    co = checkout
    dc = diff --cached
    sth = stash
    stp = stash pop
[user]
    email = wenxin.wang94@gmail.com
    name = Wenxin Wang
[push]
    default = simple
[diff]
    renames = true
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[color]
	ui = auto
